extends layout

block content
    h1= title
    div#form-add
        form(method="post" action="/save_mhs")
            label(for="NIM") NIM :
            input(type="text" name="nim").form-control

            label(for="NAMA") NAMA :
            input(type="text" name="nama").form-control

            label(for="JURUSAN") JURUSAN :
            input(type="text" name="jurusan").form-control

            label(for="KELAS") KELAS :
            input(type="text" name="kelas").form-control

            button(type='submit').btn.btn-success ADD
